<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <title>{title}</title>
        <link rel="preload" href="/assets/CreteRound-Regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="16x16">
        {head}
    </head>
    <body>
        <header id="main-header">
            <nav id="top-nav">
                <a href="/" class="nav-button">
                    <div class="nav-button-img">
                        <img class="normal" src="/assets/home-normal.png" width="48" height="48">
                        <img class="hover"  src="/assets/home-hover.png"  width="48" height="48">
                    </div>
                    <span>Home</span>
                </a>
                <a href="/posts" class="nav-button">
                    <div class="nav-button-img">
                        <img class="normal" src="/assets/post-normal.png" width="48" height="48">
                        <img class="hover"  src="/assets/post-hover.png"  width="48" height="48">
                    </div>
                    <span>Posts</span>
                </a>
            </nav>
        </header>
        <div id="main">
            {body}
        </div>
    </body>
</html>
