<div id="index-intro">
    <img id="faceme" src="/assets/face.png" alt="Simple drawing of my face with big nose." width="275" height="231">
    <div id="intro-text">
        <p>
            Hello, my name is David Bos and this is my website!
            The drawing is an artistic rendition of me. 
            The slightly receding hairline is accurate, but my nose is not actually that big in real life.
            It's even bigger.
        </p>
        <p>
            I like video games, visual art, programming, puzzles and everything in between.
            Programming-wise my interests are mainly graphics- and game programming, compilers
            and interpreters, but also programming language design. 
            But really I find almost everything game and computer related interesting 😄
        </p>
        <p>
            Check out some of <a href="/posts">my posts</a>! There should be at least one. 
        </p>
        <a href="https://www.github.com/toteload">Github</a>
    </div>
</div>
