---
import NavigationButton from './NavigationButton.astro';

import imageDefaultHome from './images/home-normal.png';
import imageOnHoverHome from './images/home-hover.png';

import imageDefaultPosts from './images/post-normal.png';
import imageOnHoverPosts from './images/post-hover.png';
---

<nav class="flex flex-row gap-8">
  <NavigationButton
    href="/"
    label="Home"
    imageDefault={imageDefaultHome}
    imageOnHover={imageOnHoverHome}
  />
  <NavigationButton
    href="/posts"
    label="Posts"
    imageDefault={imageDefaultPosts}
    imageOnHover={imageOnHoverPosts}
  />
</nav>
