---
import { Image } from 'astro:assets';
const { imageDefault, imageOnHover, href, label } = Astro.props;
---

<a
  href={href}
  class="block group text-blue text-lg bg-white p-2 border border-b-4 border-blue flex flex-col gap-1 items-center hover:bg-blue hover:text-white"
>
  <Image
    loading="eager"
    format="png"
    style="image-rendering: pixelated;"
    src={imageDefault}
    class="block group-hover:hidden"
    alt=""
  />
  <Image
    loading="eager"
    format="png"
    style="image-rendering: pixelated;"
    src={imageOnHover}
    class="hidden group-hover:block"
    alt=""
  />
  <span class="font-bold group-hover:underline decoration-2">{label}</span>
</a>
