---
interface Props {
  title: string;
  mainClass?: string;
}

import NavigationBar from '../components/NavigationBar/NavigationBar.astro';
import { classes } from '../utils/classes';
const { title, mainClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="16x16" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center gap-6 py-6 mb-12">
    <NavigationBar />
    <main class={classes('max-w-3xl w-full p-8 bg-white', mainClass)}>
      <slot />
    </main>
  </body>
</html>

<style></style>
